@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
background: url('https://iili.io/fJghrTF.jpg') no-repeat center center fixed !important;
color: none !important;
background-size: cover !important;
}

#commentBox {
background: rgba(87, 78, 70, 0.5) !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
box-shadow: none !important;
}

.col-md-9.col-xs-12 {
background: none !important;
border: 4px double #C7AC8F !important;
border-top: none !important;
border-right: none !important;
border-bottom: none !important;
}

div.container.main {
background: rgba(87, 78, 70, 0.5) !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
}

.navbar {
background: #574E46 !important;
border: 1px solid #C7AC8F !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
border-radius: 15px !important;
box-shadow: none !important;
font-family: 'Delius';
}

navbar li a {
color: #DFD4C6 !important;
}

.navbar li a:hover {
background: none !important;
color: #C7AC8F !important;
border: 0 0 10px #C7AC8F, 0 0 20px #C7AC8F, 0 0 40px #C7AC8F;
text-shadow: 0 0 5px #C7AC8F, 0 0 10px #C7AC8F, 0 0 20px #C7AC8F;
transition: 0.8s !important;
}

.navbar-header > a > img {
content: url('https://iili.io/fJgyImN.png') !important;
width: 100px;
}

.breadcrumb {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
}


.breadcrumb::after {
content: "CSS by Blub-Blub (#519615)";
position: absolute;
right: 20%;
z-index: 100;
color: #DFD4C6;
}

.feature {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
}

.topbar {
background: #574E46 !important;
color: #DFD4C6 !important;
border: none !important;
border-top: none !important;
border-bottom: 4px solid #C7AC8F !important;
}

.sidebar, .table {
background: none !important;
color: #DFD4C6 !important;
border: none !important;
}

.panel {
background: #574E46 !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
box-shadow: none !important;
}


.progress {
background: #766B5F !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
}

.progress div {
color: #E6D9CB !important;
}

.progress-bar-warning {
background: #C7AC8F !important;
}

.progress-bar-danger {
background: #C7AC8F !important;
}

.progress-bar-success {
background: #C7AC8F !important;
}

.progress-bar {
background: #C7AC8F !important;
}

.s-chat-message:nth-child(even) {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px dashed #C7AC8F !important;
}

.s-chat-message:nth-child(odd) {
background: #B2A998 !important;
color: #DFD4C6 !important;
border: 1px dashed #C7AC8F !important;
}

.s-chat-message_timestamp {
color: #DFD4C6 !important;
}

#chatMessageContainer {
background: #574E46 !important;
color: #DFD4C6 !important;
border: none !important;
}

button#label_currentChannel {
background: #574E46 !important;
color: #DFD4C6 !important;
border: none !important;
}

.s-chat-message_content {
background: none !important;
color: #DFD4C6 !important;
border: none !important;
}

div#chatMessagePinned {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
}

h1 {
text-align: left !important;
color: #DFD4C6 !important;
font-family: 'Delius';
}

h3 {
text-align: center !important;
color: #DFD4C6 !important;
font-family: 'Delius';
}

.top, th, .bottom, .left, .right_cub {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
font-family: 'Delius';
}

td.right {
background: rgba(87, 78, 70, 0.5) !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
font-family: 'Delius';
}

td.right_odd {
background: rgba(87, 78, 70, 0.5) !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
font-family: 'Delius';
}

.cave-grid, .mound-grid {
background: rgba(87, 78, 70, 0.5) !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
}

.cave-grid:hover, .mound-grid:hover {
color: #C7AC8F !important;
text-shadow: 0 0 5px #C7AC8F, 0 0 10px #C7AC8F, 0 0 20px #C7AC8F !important;
transition: 0.8s !important;
}

div.cave-grid>img {
content: url('https://iili.io/fJgtx44.png') !important;
width: 100% !important;
height: 100% !important;
}

div.mound-grid>img {
content: url('https://iili.io/fJgtS8N.png') !important;
width: 100% !important;
height: 100% !important;
}

a:link, a:visited {
color: #C7AC8F !important;
}

a:hover {
color: #C7AC8F !important;
text-shadow: 0 0 5px #C7AC8F, 0 0 10px #C7AC8F, 0 0 20px #C7AC8F !important;
transition: 0.8s !important;
}

topbar a:link {
color: #C7AC8F !important;
transition: 0.8s !important;
}

.topbar a:visited {
color: #C7AC8F !important;
}

.topbar a:hover {
color: #C7AC8F !important;
}

.alert-danger, .alert-success, .attack-won, .attack-lost {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
border-radius: 15px !important;
text-align: center !important;
}

input[type="button"] {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="submit"] {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="text"] {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"] {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="button"]:hover {
background: #574E46 !important;
color: #C7AC8F !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: 0 0 5px #C7AC8F, 0 0 10px #C7AC8F, 0 0 20px #C7AC8F !important;
transition: 0.8s !important;
box-shadow: none !important;
}

input[type="text]:focus {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"]:focus {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea:focus {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select:focus {
background: #574E46 !important;
color: #DFD4C6 !important;
border: 1px solid #C7AC8F !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}